.vc-switch-container {
    background: var(--primary-400);
    border: 1px solid transparent;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: pointer;
    height: 24px;
    position: relative;
    width: 44px;

    .high-contrast-mode & {
        border-color: var(--border-strong);
    }
}

.vc-switch-checked {
    background: var(--brand-500);
    border-color: var(--control-primary-border-default);
}

.vc-switch-disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.vc-switch-focusVisible {
    /* stylelint-disable-next-line custom-property-pattern */
    box-shadow: 0 0 0 4px var(--__adaptive-focus-ring-color, var(--border-focus, #00b0f4));
}

.vc-switch-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 0;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.vc-switch-input {
    border-radius: 12px;
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:disabled {
        pointer-events: none;
        cursor: not-allowed
    }
}